<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profilistic</title>
    <link rel='stylesheet' type='text/css' href='static/common.css'>
    <!--<script type='text/javascript' src='/static/jquery-1.10.2.min.js'></script>-->


</head>
<body>
    <div id='header'>
        <h1>Eclectic Lunch</h1>
        <h2>Are <i>you</i> DTL?</h2>
    </div>
    <div id='content'>
        <h2>Sign up for lunch!</h2>

        {% block body %}{% endblock %}
    </div>
    <div id='footer'>
        Lovingly crafted by <b>jschultz</b>, <b>pkoch</b>, and <b>ztm</b> at Yelp Hackathon 13.
    </div>
<!--    <div id='daurius'>
        <img src='static/daurius_deano_klange.png'
            alt='Our dear friend Daurius, the Daurian hedgehog (Mesechinus dauuricus).' />
    </div>
-->
</body>
</html>
