{% extends "layout.html" %}

{% block body %}
<div class='wrapper'>
{% autoescape false %}
    {{ me_html }}
{% endautoescape %}
    <div style='clear:both'>
    <h3>Welcome! When are you Down to Lunch?</h3>
    <form action='/submit/{{ username }}' method='get' id='startForm'>
        <label>Early (11 a.m.)</label> <input type='radio' name='time' value='11' /></br>
        <label>Standard (12 p.m.)</label> <input type='radio' name='time' value='12' /><br/>
        <label>Late (1 p.m.)</label> <input type='radio' name='time' value='13' /><br/>
        <label>Super Late (2 p.m.)</label> <input type='radio' name='time' value='14' /><br/>
        <input id='submit' type='submit' value='Lunch me, bro!' />
    </form>
    </div>
    <br/><br/>

</div>
{% endblock %}
